<!-- <div>
<div>
  <button style="margin-left: 500px; margin-top: 150px" onclick="document.getElementById("01").style.display='block'">Login as Admin</button>
</div>


<script>
var modal = document.getElementById('01');
window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}
</script>

<div id="01" class="modal" style="display:none">

      <form class="formarea" method="post" ng-submit="login()">
      <div class="container">

        <h2>Login as Category Admin</h2></br>
        <label style="font-family: sans-serif"><b>Username</b></label><br><br>
        <input type="text" name="username" ng-model="username" required><br><br>

        <br><label style="font-family: sans-serif"><b>Password</b></label><br><br>
        <input type="password" name="password" ng-model="password" required><br><br>

        <div class="form-actions">
            <button type="submit" class="loginbtn">LOG IN</button>
        </div>
      </div>
      </form>

</div>
</div> -->

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
