<div>
  <style>
  #menu {
     float:left;
     width:550px;
 }

 #content {
     float:right;
     width:550px;
 }
.left-col {
  float: left;
  width:30%;
}
 </style>
 <h1 style="text-align:center;margin-left:50px;"><font color="white">HOTEL MANAGEMENT SYSTEM</font></h1>
 <a href="#/login" style="float:right"><button>LOGOUT</button></a>
 <a href="#/register" style="float:right"><button>REGISTER</button></a>

<br>
<hr>

<div id="menu" class="well" style="margin-left:25px">
    <h4 style="text-align:center"><u>HOTEL REGISTRATION</u></h4>
    <form ng-submit="add_hotel(hoteldata)">

  <div class="left-col">  HOTEL NAME :</div> <input type="text" ng-model = "hoteldata.name"></input><br><br>
  <div class="left-col">  ROOMS : </div><input type="text" ng-model = "hoteldata.rooms"></input><br><br>
  <div class="left-col">  PHONE NO :</div> <input type="text" ng-model = "hoteldata.pno"></input><br><br>
  <div class="left-col">  LANE :</div> <input type="text" ng-model = "hoteldata.lane"></input><br><br>
  <div class="left-col">  CITY :</div> <input type="text" ng-model = "hoteldata.city"></input><br><br>
  <div class="left-col">  PINCODE :</div> <input type="text" ng-model = "hoteldata.pincode"></input><br><br>
  <input type="submit" value="SUBMIT" style="margin-left:40%"></input>
</form>
</div>
<div id="content" class="well">
  <h4 style="text-align:center"><u>RESTAURANT REGISTRATION</u></h4>
  <form ng-submit="add_restaurant(restdata)">
<div class="left-col">  RESTAURANT NAME :</div> <input type="text" ng-model = "restdata.name"></input><br><br>
<div class="left-col">  PHONE NO :</div> <input type="text" ng-model = "restdata.pno"></input><br><br>
<div class="left-col">  LANE :</div> <input type="text" ng-model = "restdata.lane"></input><br><br>
<div class="left-col">  CITY :</div> <input type="text" ng-model = "restdata.city"></input><br><br>
<div class="left-col">  PINCODE :</div> <input type="text" ng-model = "restdata.pincode"></input><br><br>
<input type="submit" value="SUBMIT" style="margin-left:40%"></input>
</form>

</div>
</div>
