<div >

  <a href="#/login" style="float:right"><button class="mybutton">LOGOUT</button></a>
  <a href="#/hotel" style="float:right"><button class="mybutton">BOOK HOTEL</button></a>&nbsp;
  <a href="#/restaurant" style="float:right"><button>BOOK RESTAURANT</button></a>
  <button type="button" style="float:right" data-toggle="modal" data-target="#myModal">ADD MONEY</button>
<div>
  <h1 style="float: center;margin-left: 380px;"><font color="white"><strong>Welcome to Hotel Management </strong></font></h1>
  <h4 style="text-align:right"><font color="white">WALLET AMOUNT : {{wallet}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></h4>
</div>
  <hr>
  <div class="well">
    <h4 style="text-align:center"><strong><u>USER DASHBOARD</u></strong></h4>
    <!-- <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button" onclick="openCity('HOTEL')">HOTEL</button>
      <button class="w3-bar-item w3-button" onclick="openCity('RESTAURANT')">RESTAURANT</button>
    </div> -->

    <div class="topnav">
      <a href="javascript:void(0)" onclick="openCity('HOTEL')"><b>HOTEL</b></a>
      <a href="javascript:void(0)" onclick="openCity('RESTAURANT')"><b>RESTAURANT</b></a>

    </div>
    <br>
<div id="HOTEL" class="w3-container city">
<table id="customers">
  <tr>
    <th>HOTEL NAME</th>
    <th>ROOM NO</th>
    <th>COST</th>
    <th>CHECK IN</th>
    <th>CHECK OUT</th>
    <th>CANCEL BOOKING</th>
  </tr>
  <tr ng-repeat="item in user_hotel_feed">
    <td>{{item.name}}</td>
    <td>{{item.rno}}</td>
    <td>{{item.cost}}</td>
      <td>{{item.checkin | date:'MM-dd-yyyy'}}</td>
    <td>{{item.checkout| date:'MM-dd-yyyy'}}</td>
    <td><input type="button" value="cancel" ng-click="cancellationroom(item)"></td>

  </tr>
</table>
</div>
<div id="RESTAURANT" class="w3-container city" style="display:none">
<table id="customers">

  <tr>
    <th>RESTAURANT NAME</th>
    <th>FOOD NAME</th>
    <th>COST</th>
    <th>ORDER DATE</th>
    <th>CANCEL ORDER</th>
  </tr>
  <tr ng-repeat="item in user_restaurant_feed">
    <td>{{item.name}}</td>
    <td>{{item.foodname}}</td>
    <td>{{item.cost}}</td>
    <td>{{item.bookdate | date:'MM-dd-yyyy'}}</td>
    <td><input type="button" value="cancel" ng-click="cancellationfood(item)"></td>
  </tr>
    </table>
  </div>
</div>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ADD MONEY</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="addmoney(money)">
            <label  style="margin-right:3%" >AMOUNT: </label>
            <input type="number" min="1" max="20000" ng-model="money.amount" placeholder="max 20000" style="width:200px">
            <input style="margin-left:5%" type="submit" value="ADD" name="submit"/>
            <br><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
