<div>

  <a href="#/login" style="float:right"><button>LOGOUT</button></a>
  <a href="#/hotel" style="float:right"><button>BOOK HOTEL</button></a>&nbsp;
  <a href="#/restaurant" style="float:right"><button>BOOK RESTAURANT</button></a>
  <h1 style="float: center;margin-left: 380px;"><font color="white"><strong>Welcome to Hotel Management</strong></font></h1>
  <style>
  #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
  }
  </style>
  <hr>
  <div class="well">
    <h4 style="text-align:center"><strong><u>USER DASHBOARD</u></strong></h4>
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button" onclick="openCity('HOTEL')">HOTEL</button>
      <button class="w3-bar-item w3-button" onclick="openCity('RESTAURANT')">RESTAURANT</button>
    </div>
    <br>
<div id="HOTEL" class="w3-container city">
<table id="customers">
  <tr>
    <th>HOTEL NAME</th>
    <th>ROOM NO</th>
    <th>COST</th>
    <th>CHECK IN</th>
    <th>CHECK OUT</th>
    <th>CANCEL BOOKING</th>
  </tr>
  <tr ng-repeat="item in user_hotel_feed">
    <td>{{item.name}}</td>
    <td>{{item.rno}}</td>
    <td>{{item.cost}}</td>
      <td>{{item.checkin | date:'MM-dd-yyyy'}}</td>
    <td>{{item.checkout| date:'MM-dd-yyyy'}}</td>
    <td><input type="button" value="cancel" ng-click="cancellationroom(item)"></td>

  </tr>
</table>
</div>
<div id="RESTAURANT" class="w3-container city" style="display:none">
<table id="customers">

  <tr>
    <th>RESTAURANT NAME</th>
    <th>FOOD NAME</th>
    <th>COST</th>
    <th>CANCEL ORDER</th>
  </tr>
  <tr ng-repeat="item in user_restaurant_feed">
    <td>{{item.name}}</td>
    <td>{{item.foodname}}</td>
    <td>{{item.cost}}</td>
    <td><input type="button" value="cancel" ng-click="cancellationfood(item)"></td>
  </tr>
</table>



</div>
    {{user_hotel_feed}}
    <hr>
    {{user_restaurant_feed}}


  </div>

</div>
