<h1 style="float: center;margin-left: 380px;"><font color="#666666"><strong>HOTEL MANAGEMENT SYSTEM</strong></font></h1>
<h4 style="text-align:right">  <font color="#666666">WALLET AMOUNT : {{wallet}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></h4>

<div>

  <a href="#/login" style="float:right"><button class="mybutton2">LOGOUT</button></a>
  <a href="#/home" style="float:right"><button class="mybutton2">HOME</button></a>
  <br><br><br>

  <div class="well" style="width: 600px; float: center; margin-left: 360px; padding: 40px 50px">

    <div class="display-area">
      <strong>>  HOTEL LIST</strong><br><br><br>
      <form ng-submit=get_rooms(data)>
        <!-- {{hotel_feed}} -->
        SELECT HOTEL:    <select ng-model="data.hid" required>
          <option selected disabled>select</option>
          <option ng-repeat="item in hotel_feed" value="{{item.hid}}">{{item.name}}</option>
        </select>
        <br><br><br>
        CHECK-IN:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" ng-model="data.checkin" required/>

        <br><br>
        CHECK-OUT:&nbsp;&nbsp;&nbsp;<input type="date" ng-model="data.checkout" required/>
        <br><br><br>

        <button class="mybutton3" type="submit">SUBMIT</button>

      </form>
<hr>

      <div class="article" ng-repeat="x in rooms">
        <strong>ROOM NO:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{x.rno}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>COST:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{x.cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>PERSON (MAX):</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{x.persons}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>TOTAL_COST:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{x.cost * quantity}} ({{quantity}} days)
        <br>
        <strong>DESCRIPTION:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{x.description}}


        <button style="float:right;" ng-click="book_room(x)">ORDER</button>
        <hr>
        <!-- {{x}} -->
        <!-- <p><img width="110px" height="110px" src="images/modi.jpg"></p> -->
        <!-- <strong style="font-size: 25px"><u>{{x.foodname}}</u></strong>
        <h5  style="float:right;margin-right:50px;">COST:{{x.cost}}</h5>
        <button ng-click="book(x)">ORDER</button>
        <p style="width:500px">{{x.description}}</p>
        <hr> -->
      </div>

    </div>
  </div>
</div>
