<h1 style="float: center;margin-left: 360px;"><font color="#666666"><strong>HOTEL MANAGEMENT SYSTEM</strong></font></h1>


  <div class="login-box animated">
    <div class="box-header">
      <br><h2>Log In</h2><br>


    </div>
    <form ng-submit="login()">
      <br>
    <label for="username">Username</label>
    <input type="text" id="username" ng-model="username">
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" ng-model="password">
    <br/>
    <button class="mybutton2" type="submit">Sign In</button>
    <br><br>
    <div style="float: right"<b><span>Not a member?</span></b>
    <a href="#/signup"><b><button class="mybutton2">Sign Up</button></b></a><br><br></div><br>
  </form>
  <br>
    <br/>
  </div>





<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
