<div>
<style>
#menu {
   float:left;
   width:550px;
}
</style>
  <h1 style="text-align:center;margin-left:50px;"><font color="white">HOTEL MANAGEMENT SYSTEM</font></h1>
  <a href="#/login" style="float:right"><button>LOGOUT</button></a>
  <a href="#/admin" style="float:right"><button>ADMIN</button></a>
<br>
  <hr>
<div id="menu" class="well" style="margin-left:350px">
      <h4 style="text-align:center"><u>REGISTRATION</u></h4>
  <form ng-submit="register(registrationdata)">
    <label>USERNAME: </label>
    <input type="text" ng-model="registrationdata.username" />
    <br><br>
    <label>PASSWORD: </label>
    <input type="password" ng-model="registrationdata.password" />
    <br><br>
    <label>TYPE: </label>
    <select ng-model="registrationdata.type">
      <option value="hotel" selected>HOTEL</option>
      <option value="restaurant">RESTAURANT</option>
    </select>
    <br><br>
    <label>NAME: </label>
    <input type="text" ng-model="registrationdata.name"/>
    <br><br>
<input type="submit" value="SUBMIT" style="margin-left:40%"></input>
  </form>
</div>
</div>
