<h1 style="float: center;margin-left: 380px;"><font color="#666666"><strong>HOTEL MANAGEMENT SYSTEM</strong></font></h1>

<div>
<style>
#menu {
   float:left;
   width:550px;
}
</style>
<br>
<a href="#/login" style="float:right"><button class="mybutton2">LOGOUT</button></a>
<a href="#/admin" style="float:right"><button class="mybutton2">ADMIN</button></a><br><br>
<hr>
<div id="menu" class="well" style="margin-left:450px;width:400px;">
      <h4 style="text-align:center">REGISTRATION</h4><br>
  <form ng-submit="register(registrationdata)">
    <label>USERNAME: </label>
    <input type="text" ng-model="registrationdata.username" />
    <br><br>
    <label>PASSWORD: </label>
    <input type="password" ng-model="registrationdata.password" />
    <br><br>
    <label>TYPE: </label>
    <select ng-model="registrationdata.type">
      <option value="hotel" selected>HOTEL</option>
      <option value="restaurant">RESTAURANT</option>
    </select>
    <br><br>
    <label>NAME: </label>
    <!-- {{hotel_feed}} -->
    <div ng-if="registrationdata.type=='hotel'">
    <select ng-model = "registrationdata.id" name="option">
      <option ng-repeat="item in hotel_feed" value="{{item.hid}}">{{item.name}}</option>
    </select>
    </div>
    <div ng-if="registrationdata.type=='restaurant'">
    <select ng-model = "registrationdata.id" name="option">
      <option ng-repeat="item in restaurant_feed" value="{{item.rid}}">{{item.name}}</option>
    </select>
    </div>
    <br><br>
<input class="mybutton3" type="submit" value="SUBMIT" style="margin-left:40%"></input>
  </form>
</div>
</div>
