<!--<div>
  <br />
  <h3>
    {{main}}
  </h3>
  <form ng-submit="login()">
    <br />
    <input type="text" ng-model="username" />
    <br />
    <input type="password" ng-model="password" />
    <br />
    <button type="submit">Login</button>
  </form>
</div>
-->
<div class="formarea">
<div class="container">
  <div class="top">
    <h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
  </div>
    <h1 style="float: center; margin-left: 300px"><font color="white">HOTEL MANAGEMENT SYSTEM</font></h1>
  <div class="login-box animated">
    <div class="box-header">
          <br><h2>Sign UP</h2><br>
    </div>
    <form ng-submit="signup(data1)">
      <br>
    <label for="username">USERNAME</label>
    <input type="text" id="username" ng-model="data1.username" required>
    <br/>
    <label for="password">PASSWORD</label>
    <input type="password" id="password" ng-model="data1.password" required>
    <br/>
    <label for="username">PHONE NUMBER</label>
    <input type="text" id="username" pattern="[789][0-9]{9}" ng-model="data1.pno" required>
    <br/>
    <label for="username">NAME</label>
    <input type="text" id="username" ng-model="data1.name" required>
    <br>
    <button type="submit">Sign Up</button><br><br>
    <div style="float: right"<b><span>Already a member?</span></b>

    <a href="#/login"><button class="mybutton">Login</button></a><br><br></div><br><br>

  </form>
    <br/>
  </div>
</div>

</div>


<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
