<!--<div>
  <br />
  <h3>
    {{main}}
  </h3>
  <form ng-submit="login()">
    <br />
    <input type="text" ng-model="username" />
    <br />
    <input type="password" ng-model="password" />
    <br />
    <button type="submit">Login</button>
  </form>
</div>
-->
<div class="container">
  <div class="top">
    <h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
  </div>
  <div class="login-box animated fadeInUp">
    <div class="box-header">
      <h2>Sign UP</h2>
      <a href="#/login"><button>Login</button></a>

    </div>
    <form ng-submit="signup()">
      <br>
    <label for="username">Username</label>
    <input type="text" id="username" ng-model="username">
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" ng-model="password">
    <br/>
    <button type="submit">Sign Up</button>
  </form>
    <br/>
  </div>
</div>




<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
