<h1 style="float: center;margin-left: 380px;"><font color="#666666"><strong>HOTEL MANAGEMENT SYSTEM</strong></font></h1>

<div>
<style>
#menu {
   float:left;
   width:550px;
}
</style>
<br>
<a href="#/login" style="float:right"><button class="mybutton2">LOGOUT</button></a>
<a href="#/admin" style="float:right"><button class="mybutton2">ADMIN</button></a><br><br>
<hr>


<div class="well" id="USERLIST" class="w3-container city">
<table id="customers">
  <tr>
    <th>USERNAME</th>
    <th>TYPE</th>
    <th>ACTION</th>
  </tr>
  <tr ng-repeat="item in user_list">
    <td>{{item.username}}</td>
    <td>{{item.type}}</td>
    <td>
      <div ng-if="item.active==1"><input type="button" class="mybutton6" style="width:150px" value="DEACTIVATE" ng-click="manageuser(item)"></div>
      <div ng-if="item.active==0"><input type="button" value="ACTIVATE" class="mybutton5" style="width:150px" ng-click="manageuser(item)"></div>
    </td>

  </tr>
</table>
</div>
</div>
